.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 225px;
  border: 1px solid black;
  padding: 10px;
  background-color: #00000040;
  margin: 10px 20px 30px;
}