.edit-title {
  height: 30px;
  padding: 0 5px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid;
}

.edit-body {
  max-width: 100%;
  margin-bottom: 10px;
  min-height: 60%;
  padding: 5px;
}
